.nav {
    background-color: #61dafb;
    padding: 1rem;
}

.navList {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.navLink {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.navLink:hover {
    background-color: #000000;
    color: #ffffff;
}


.navLink:active {
    background-color: #000000;
    color: #ffffff;
}

.active {
    background-color: #000000;
    color: #ffffff;
}
