@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 20px;
}

p {
  margin: 5px 0;
}

a.globalLink:hover {
  text-decoration: underline;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo {
  margin: auto;
  padding: 20px 0;
}

.paragraph {
  color: #555;
  line-height: 1.6;
  font-size: 1.1rem;
}

.example {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

